*{
    padding:0;
    margin:0;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.navbar{
    background-color:#ffa600ed;
    display:flex;
    min-height:56px; /*56px se niche nhi jaayega*/
    align-items:center;
    justify-content: space-around;
    padding:0px 24px; /*coding block aur login dono screen pe chipka aa rha tha ab nhi aayega h*w se*/
}

a{
    cursor: pointer;
}

.navlink{
    font-size:1.5rem;
    color:white;
    text-decoration:none;
    font-weight:bolder;
}
.inner-navbar{
    display:flex;
    flex-grow:1;
    justify-content: space-evenly;
}

.inner-navlink{
    color:black;
    text-decoration: none;
    font-size:1.2rem;
}

a:hover{
    text-decoration: underline;
}

.btn:hover{
    text-decoration:underline;
    border-radius:5px;
    background-color: red;
}
/*  below the code written to make  more responsive*/
/* all -> screen + print -> default */

@media all and (max-width:767px)
{
    .navbar{
        flex-direction:column;
    }
    .navlink, .btn{
        margin:10px 0px;
    }
    .inner-navbar{
        flex-direction:column;
        width:100%;
        text-align:center;

    }
    .inner-navlink{
        padding: 8px 0px;
        width: 100%;
    }

}
